.invisible-at-first{
    display: none;
}
html{
    position: relative;
    min-height: 100%;

}
body{
    background: linear-gradient(to top right, rgba(113, 98, 122, 0.78) 0%, #3d354b 100%);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding: 10px 0px 80px 0px;
}

.alignRight{
    float: right;
}

h5{
    text-align: center;
    color: white;
}

h2{
     text-align: center;
     color: white;
     text-shadow: 2px 2px 10px #000000;
}

h4{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.alert{
 height: 50px;
}
.form-group{
    padding: 10px 100px 20px 100px;
}

span{
    width: 110px;
    text-align: center;
}
.span12{
    padding: 20px;
    letter-spacing: 2px;
}

a.black{
    text-decoration: none;
    color: #bbb;
}

a.black:hover{
    color: white;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3d354b;
    color: white;
    position: fixed;
    text-align: center;
}
.footer-block {
    margin: 20px ;
    text-align: center;
}

.inputForm{
    position: center;
}

img.resize{
    width: 200px;
    height: auto;
}

textarea{
    width: 600px;
    height: 200px;
    resize: none;
    border-radius: 10px;
}

.inputComm{
    width: 200px;
}

.commentDiv{
    /*width: 300px;*/
    width: 65%; margin: 0 auto;
}
.author{
    padding: 10px;
    text-align: left;
    margin: 5px;
    width: 600px;
    background: white;
    border-radius: 10px;
}
.content{
    padding: 10px;
    text-align: left;
    margin: 5px;
    background: white;
    min-height: 50px;
    width: 600px;
    border-radius: 10px;
}

